@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap'); */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s;
  height: 15vh;
  z-index: 9999;
}
/* Small very */
@media (max-width: 767px) {
  nav {
    width: 100%;
  }
  nav img {
    width: 110px;
    height: 30px;
  }
  nav .nav-left .dogle {
    display: block;
  }
}
/* Small */
@media (min-width: 768px) {
  nav {
    width: 100%;
  }
  nav img {
    width: 120px;
    height: 35px;
  }
  nav .nav-left .dogle {
    display: block;
  }
}
/* Medium */
@media (min-width: 992px) {
  nav {
    width: 100%;
  }
  nav img {
    width: 130px;
    height: 40px;
  }
  nav .nav-left .dogle {
    display: none;
  }
}
/* Large */
@media (min-width: 1200px) {
  nav {
    width: 100%;
  }
  nav img {
    width: 150px;
    height: 50px;
  }
  nav .nav-left .dogle {
    display: none;
  }
}
/* Large xl */
@media (min-width: 1400px) {
  nav {
    max-width: 100%;
  }
  nav img {
    width: 150px;
    height: 50px;
  }
  nav .nav-left .dogle {
    display: none;
  }
}
/* ************************ nav-center , ul ,li ******** *******************/
nav .nav-center ul li {
  font-family: "Oswald", sans-serif;
  color: black;
}
/* Small very */
@media (max-width: 767px) {
  nav .nav-center ul li {
    font-weight: 400;
    font-size: 15px;
  }
  nav .nav-center ul {
    display: none;
  }
  nav .nav-center .bigmenu {
    width: 99%;
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--text--color--);
    position: absolute;
    top: 76px;
    /* left: 0;  */
    margin-left: -331px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 3333;
  }
}
/* Small */
@media (min-width: 768px) {
  nav .nav-center ul li {
    font-weight: 400;
    font-size: 15px;
  }
  nav .nav-center ul {
    display: none;
  }
  nav .nav-center .bigmenu {
    width: 100%;
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--text--color--);
    position: absolute;
    top: 76px;
    left: 0;
    margin-left: -40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 3333;
  }
}
/* Medium */
@media (min-width: 992px) {
  nav .nav-center ul li {
    font-weight: 500;
    font-size: 20px;
  }
  nav .nav-center ul {
    display: flex;
    gap: 15px;
    color: black;
  }
  nav .nav-center .bigmenu {
    display: none;
  }
}
/* Large */
@media (min-width: 1200px) {
  nav .nav-center ul li {
    font-weight: 500;
    font-size: 20px;
  }
  nav .nav-center .bigmenu {
    display: none;
  }
  nav .nav-center ul {
    display: flex;
    gap: 15px;
    color: black;
  }
}
/* Large xl */
@media (min-width: 1400px) {
  nav .nav-center ul li {
    font-weight: 500;
    font-size: 20px;
  }
  nav .nav-center ul {
    display: flex;
    gap: 15px;
    color: black;
  }
  nav .nav-center .bigmenu {
    display: none;
  }
}
/* ********************* */
#checkbox {
  display: none;
}
.nav-main {
  display: flex;
  align-items: center;
  gap: 5px;
}
.toggle {
  position: relative;
  width: 35px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}
nav .nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: calc(4px / 2);
  background: #000000;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
}

/***** Tornado Animation *****/

.bar--top {
  bottom: calc(50% + 11px + 4px / 2);
  transition-property: bottom, transform;
  transition-delay: calc(0s + 0.35s) * 0.6;
}

.bar--middle {
  top: calc(50% - 4px / 2);
  transition-property: opacity, transform;
  transition-delay: calc(0s + 0.35s * 0.3);
}

.bar--bottom {
  top: calc(50% + 11px + 4px / 2);
  transition-property: top, transform;
  transition-delay: 0s;
}

#checkbox:checked + .toggle .bar--top {
  transform: rotate(-135deg);
  transition-delay: 0s;
  bottom: calc(50% - 4px / 2);
}

#checkbox:checked + .toggle .bar--middle {
  opacity: 0;
  transform: rotate(-135deg);
  transition-delay: calc(0s + 0.35s * 0.3);
}

#checkbox:checked + .toggle .bar--bottom {
  top: calc(50% - 4px / 2);
  transform: rotate(-225deg);
  transition-delay: calc(0s + 0.35s * 0.6);
}
nav .nav-center ul li:nth-child(1) {
  position: relative;
}
nav .nav-center ul a {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
nav .nav-center ul a .line {
  background-color: rgb(241, 241, 189);
  width: 30px;
  height: 2px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
nav .nav-center ul .dropdown-home a:hover li,
nav .nav-center ul .dropdown-pages a:hover li,
nav .nav-center ul .dropdown-shop a:hover li {
  color: rgb(232, 232, 178);
}
.dropdown-home {
  position: absolute;
  width: 220px;
  min-height: 400px;
  background-color: black;
  transition: 1s;
  top: 150%;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 99999;
}
nav ul li:hover .dropdown-home {
  opacity: 1;
  visibility: inherit;
  top: 100%;
}
nav ul li .dropdown-home ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* align-items: center; */
  justify-content: center;
  padding: 20px;
}
nav ul li .dropdown-home ul li {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Playwrite AU SA", cursive; */
  font-weight: 400;
  font-size: 16px;
}
/* **************** */
nav .nav-center ul li:nth-child(2) {
  position: relative;
}
nav ul li .dropdown-pages {
  position: absolute;
  width: 180px;
  height: 270px;
  background-color: rgb(1, 1, 1);
  transition: 1s;
  top: 150%;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  padding: 20px 15px;
  z-index: 99999;
}
nav ul li:hover .dropdown-pages {
  opacity: 1;
  visibility: inherit;
  top: 100%;
}
nav ul li .dropdown-pages ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding-left: 10px;
}
nav ul li .dropdown-pages ul li {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Playwrite AU SA", cursive; */
  font-weight: 500;
  font-size: 16px;
}
.dropdown-shop {
  position: absolute;
  top: 100px;
  width: 90%;
  left: 18px;
  height: 300px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  transition: 2s;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 99999;
}
nav .nav-center ul li:hover .dropdown-shop {
  opacity: 1;
  visibility: inherit;
}
.dropdown-shop .shop-1,
.dropdown-shop .shop-2,
.dropdown-shop .shop-3,
.dropdown-shop .shop-4 {
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 13px;
}
naV ul li .dropdown-shop .shop-1 ul,
.dropdown-shop .shop-2 ul,
.dropdown-shop .shop-3 ul,
.dropdown-shop .shop-4 ul {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 10px;
  gap: 10px;
}
naV ul li .dropdown-shop .shop-1 ul li,
.dropdown-shop .shop-2 ul li,
.dropdown-shop .shop-3 ul li,
.dropdown-shop .shop-4 ul li {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Playwrite AU SA", cursive; */
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
/*  ************** dropdown blog*********************** */
nav .nav-center ul li .dropdown-blog {
  position: absolute;
  width: 140px;
  min-height: 150px;
  background-color: black;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 99999;
}
nav,
.nav-center ul li:hover .dropdown-blog {
  opacity: 1;
  visibility: inherit;
  /* top: 70%; */
}
nav .nav-center ul li .dropdown-blog ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 15px 20px;
}
nav .nav-center ul li .dropdown-blog ul li {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
nav .nav-center ul li .dropdown-blog ul a:hover li {
  color: rgb(232, 232, 178);
}
nav .nav-center ul li .dropdown-blog ul .st-1 .post-type {
  position: absolute;
  width: 160px;
  min-height: 150px;
  background-color: black;
  transition: 1s;
  top: 0px;
  left: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
nav .nav-center ul li .dropdown-blog ul .st-1 {
  position: relative;
}
nav .nav-center ul li .dropdown-blog ul .st-1:hover .post-type {
  opacity: 1;
  visibility: inherit;
  top: 70%;
  left: 123px;
  transition: all 0.6s ease-in-out;
}

nav .nav-center ul li .dropdown-blog ul .st-1 .post-type ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 15px 20px;
}
nav .nav-center ul li .dropdown-blog ul .st-1 .post-type ul a li {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
nav .nav-center ul li .dropdown-blog ul .st-1 .post-type ul a:hover li {
  color: rgb(232, 232, 178);
}
nav .nav-center ul li .dropdown-blog ul .st-1 .standard-list {
  position: absolute;
  width: 160px;
  min-height: 150px;
  background-color: black;
  transition: 1s;
  top: 0px;
  /* left: 50px; */
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
}
nav .nav-center ul li .dropdown-blog ul .st-1:hover .standard-list {
  opacity: 1;
  visibility: inherit;
  top: 70%;
  left: 120px;
  transition: all 0.6s ease-in-out;
  padding: 15px 10px;
}
nav .nav-center ul li .dropdown-blog ul .st-1 .standard-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 10px;
}
nav .nav-center ul li .dropdown-blog ul .st-1 .standard-list ul li {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
nav .nav-center ul li .dropdown-blog ul .st-1 .standard-list ul a:hover li {
  color: rgb(232, 232, 178);
}

/* ************** */
nav .nav-center ul li .dropdown-profile {
  position: absolute;
  width: 140px;
  min-height: 150px;
  background-color: black;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  top: 90px;
  z-index: 99999;
}
nav .nav-center ul li:hover .dropdown-profile {
  opacity: 1;
  visibility: inherit;
  /* top: 80%; */
  padding-top: 15px;
  padding-left: 10px;
}
nav .nav-center ul li .dropdown-profile ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 10px;
}
nav .nav-center ul li .dropdown-profile ul li {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 17px;
}
nav .nav-center ul li .dropdown-profile ul a:hover li {
  color: rgb(232, 232, 178);
}

nav .nav-center ul li .dropdown-profile ul .st-1 {
  position: relative;
}
nav .nav-center ul li .dropdown-profile ul .st-1 .types-list {
  position: absolute;
  width: 160px;
  min-height: 150px;
  background-color: black;
  transition: 1s;
  top: 0px;
  left: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
}
nav .nav-center ul li .dropdown-profile ul .st-1:hover .types-list {
  opacity: 1;
  visibility: inherit;
  top: 40%;
  left: 140px;
  transition: all 0.6s ease-in-out;
  padding: 15px 20px;
}
nav .nav-center ul li .dropdown-profile ul .st-1 .types-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 10px;
}
nav .nav-center ul li .dropdown-profile ul .st-1 .types-list ul li {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
nav .nav-center ul li .dropdown-profile ul .st-1 .types-list ul a:hover li {
  color: rgb(232, 232, 178);
}
nav .nav-center ul li .dropdown-profile ul .st-1 .layout-list {
  position: absolute;
  min-width: 200px;
  height: 230px;
  background-color: black;
  transition: 1s;
  top: 100%;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
  padding: 20px 20px;
}
nav .nav-center ul li .dropdown-profile ul .st-1:hover .layout-list {
  opacity: 1;
  visibility: inherit;
  top: 40%;
  left: 140px;
  transition: all 0.6s ease-in-out;
}
nav .nav-center ul li .dropdown-profile ul .st-1 .layout-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding-left: 10px;
}
nav .nav-center ul li .dropdown-profile ul .st-1 .layout-list ul li {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
nav .nav-center ul li .dropdown-profile ul .st-1 .layout-list ul a:hover li {
  color: rgb(232, 232, 178);
}
nav .nav-center ul li .dropdown-profile ul .st-1 .single-list {
  position: absolute;
  min-width: 160px;
  min-height: 150px;
  background-color: black;
  transition: 1s;
  top: 150%;
  left: 0px;
  padding: 20px 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
}
nav .nav-center ul li .dropdown-profile ul .st-1:hover .single-list {
  opacity: 1;
  visibility: inherit;
  top: 40%;
  left: 140px;
  transition: all 0.6s ease-in-out;
}
nav .nav-center ul li .dropdown-profile ul .st-1 .single-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding-left: 10px;
}
nav .nav-center ul li .dropdown-profile ul .st-1 .single-list ul li {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
nav .nav-center ul li .dropdown-profile ul .st-1 .single-list ul a:hover li {
  color: rgb(232, 232, 178);
}

/* ****************** */
.burger {
  cursor: pointer;
  z-index: 1000;
  display: inline-block;
}

.burger span {
  display: block;
  width: 30px;
  height: 3px;
  background: #333;
  margin: 6px 0;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    opacity 0.3s ease;
}

#burger-checkbox {
  display: none;
}

#burger-checkbox:checked + .burger span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#burger-checkbox:checked + .burger span:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}

#burger-checkbox:checked + .burger span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
